<% @comments.each do |comment| %>

<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <small>
    <b><%= comment.user.name %>'s 2¢:</b>
  </small>
  <small>
    <% if policy(comment).destroy? %>
      | <%= link_to "Delete", [comment.post, comment], method: :delete %>
    <% end %>
  </small>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<% end %>
