@import "bootstrap";

body {
  background-image: url("restaurant_icons.png");
  background-color: rgb(237, 255, 212);
}

.nav {
  background-color: rgba(0,0,0, .25);
}

.nav a {
  color: #000;
}

.jumbotron {
  background-color: rgba(44, 198, 229, 0.3);
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}
